.person
  .person__info
    span Name
    span {{ person.name }}
  .person__info
    span City
    span {{ person.city }}
  .person__info
    span Position
    span {{ person.position }}
  .person__info
    span Age
    span {{ person.age }}
  a.person__back(href="/") Back to list