.person
  .person__info
    span Name
    span {{ selectedPerson.name }}
  .person__info
    span City
    span {{ selectedPerson.city }}
  .person__info
    span Position
    span {{ selectedPerson.position }}
  .person__info
    span Age
    span {{ selectedPerson.age }}
  button.person__back Back to list