<!DOCTYPE html>
html(lang="en")
  head
    title People App
    base(href="/")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    link(rel="stylesheet" href="css/style.css")
    script(src="js/shared/angular.min.js")
    script(src="js/shared/angular-route.min.js")
  body(ng-app="peopleApp")
    main(ng-view)
    script(src="js/peopleApp.js")
    script(src="js/filters/filters.js")
    script(src="js/services/people.js")
    script(src="js/ctrls/peopleHome-ctrl.js")
    script(src="js/ctrls/person-ctrl.js")