
<div class="filter">
  <div class="filter__row">
    <label for="city">City</label>
    <select id="city" name="city" ng-model="formCities" data-ng-options="option for option in cities | unique" ng-change="changePos(formCities)"></select>
  </div>
  <div class="filter__row">
    <label for="position">Position</label>
    <select id="position" name="position" ng-model="formPos" data-ng-options="option for option in positions | unique"></select>
    <button ng-click="filterList()">Search</button>
  </div>
</div>
<table class="people">
  <thead>
    <th>
      <button ng-class="{'_top': isSortUp('name'),'_bottom': isSortDown('name')}" ng-click="sort('name')">Name</button>
    </th>
    <th>
      <button ng-class="{'_top': isSortUp('age'),'_bottom': isSortDown('age')}" ng-click="sort('age')">Age</button>
    </th>
  </thead>
  <tr ng-repeat="person in people | orderBy:sortField:reverse | filter: {city: filterPeople.city, position: filterPeople.position}" class="people__row">
    <td><a ng-href="person/{{ person.id }}">{{ person.name }}</a></td>
    <td>{{ person.age }}</td>
  </tr>
</table>